:root 
{
    --color1:#135D66; 
    --color2:dimgray;
    --color3:#F0EBE3;
    --color4:rgb(255, 239, 239);
    --color5:#FAA300;
    --color6:black; 
    --color7:rgb(161, 134, 91);
    --color8:rgb(237, 112, 145);
    --color9:rgb(234, 192, 179);
    --color10:#704264;



    --Font1:'Reenie';
    --Font2:'Pacifico';
    --Font3:'Handlee';
    --Font4:'Passion';
}